body{
	font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
	font-size: 1em;
	margin: 0;
	padding: 8px;
	width: 400px;
	overflow: hidden;
	background-color: transparent;
	color: #123c75;
}
p{
	padding: 0px;
	margin: 4px 8px;
}
input[type=button]{
	color: #123c75;
	background-color: #6ac2ee;
	border: none;
	border-radius: 4px;
	padding: 2% 4%;
	margin: 8px;
	display: block;
}